*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.metadata/.lock

*.index

.metadata/.log

*.zip

*.properties

*.version

*.tree

*.resources

*.prefs

*.fdt

*.xmi

*.fdx

*.fnm

*.frq

*.nrm

*.tii

*.tis

.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/segments_1

*.gen

RemoteSystemsTempFiles/.project

*.prefs

*.ini

*.xml

.metadata/.plugins/org.eclipse.rse.core/.log

.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache

.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache

.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/segments_1

*.prefs
